<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing </h3>
    <form method="POST" action="/listings">
        <input name="listingobj[title]" placeholder="enter title" type="text">
        <br>
        <br>
        <textarea name="listingobj[description]" placeholder="enter description"></textarea>
        <br>
        <br>
        <input name="listingobj[image]" placeholder="enter image URL/Link" type="text">
        <br>
        <br>
        <input name="listingobj[price]" placeholder="enter price" type="number">
        <br>
        <br>
        <input name="listingobj[country]" placeholder="enter country" type="text">
        <br>
        <br>
        <input name="listingobj[location]" placeholder="enter location" type="text">
        <br>
        <br>
        <button>ADD</button>
    </form>
</body>
</html>