/*body{
    background-color: pink ;
} */

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
}